#btn {
  font-size: 20px;
  margin: 10px;
  width: 250px;
  height: 60px;
}

#menu {
  margin-top: 5px;
  background-color: rgb(172, 164, 180);
}
#back button {
  position: fixed;
  bottom: 0px;
  right: 0px;
  width: 100%;
  height: 50px;
}
#comp {
  display: inline;
}
#id {
  width: 250px;
}
#id1 {
  margin-top: 50px;
  width: 250px;
}
#comparef {
  display: grid;
  grid-template-columns: auto auto;
  padding: 10px;
}
#compareitems img {
  padding: 20px;
  text-align: center;
}
